body {
    background: url("PIX/white_back.jpg");
    padding-top: 30px;
    width: 800px;
    margin: auto;
    color: #000; /* Default text color */
}

body.night-mode {
    background: #000; /* Dark background color for night mode */
    color: #fff; /* Light text color for night mode */
}

a {
    color: #0000FF;
}

a:hover {
    filter: brightness(200%);
}

a:visited {
    color: #CD5C5C;
}

a:active {
    color: #00FF00;
}

p {
    margin: 0;
    padding: 0;
}

#right {
    float: right;
    width: 48%;
}

#left {
    float: left;
    width: 50%;
}

#right img {
    width: 100%;
    max-width: 500px;
    min-width: 300px;
}

#left img {
    height: 14px;
    width: 14px;
}

h1 {
    margin: 0 0 20px;
}

h2 {
    font-size: large;
    font-weight: bold;
}

h3 {
    font-weight: bold;
    font-size: 24px;
}

hr {
    color: #990000;
    size: 1px;
}

#main {
    border-bottom: 1px solid #990000;
    margin: 10px;
}

#main div {
    margin: 10px 0;
}

#video-classes {
    margin: 10px;
}

#hidden-link {
    text-decoration: none; /* remove the underline */
    color: inherit; /* inherit the color from the surrounding text */
    font-style: inherit;
    font-weight: normal;
    /*cursor: default; /* remove the default cursor pointer */
}

.caption {
    margin-top: 0px;
    margin-bottom: 23px;
    font-size: 11pt;
    font-weight: bold;
}

.address {
    font-style: italic;
}

.address a {
    font-style: normal;
}

.title {
    text-decoration: underline;
    font-weight: bold;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 100%; /* Place the tooltip text above the tooltip */
    left: 50%;
    margin-left: -60px; /* Use half of the width to center the tooltip text */
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* Tooltip arrow */
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%; /* Place the arrow at the bottom of the tooltip text */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
